<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Image</title>
</head>
<body>
    <h1>Processed Image</h1>
    <img src="../static/processed_image.jpg" alt="Processed Image">
</body>

<script>
        //     function redirectToNextPage() {
        //     setTimeout(() => {
        //         window.location.href = '/'; // Redirect to /next_page after 10 seconds
        //     }, 10000); // 10000 milliseconds = 10 seconds
        // }

        // document.addEventListener('DOMContentLoaded', () => {
        //     redirectToNextPage(); // Call the redirect function on page load
        // });

        // ------------------------------------------------------------------------------------------------------------------------

// fetch('/restart')
//         .then(response => response.json())
//         .then(data => {
//             console.log(data.message); // Use the data returned from Flask
//         })
//         .catch(error => {
//             console.error('Error:', error);
//         });
        
</script>
</html>
